/* CSS reset { */
body,div,h1,button,p{
  margin:0;padding:0
}

button{
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit
}

a:active,a:focus {outline: 0}
/* } */

body, input, select, textarea {
  font:20px/20px;
  font-family: 'EB Garamond', serif;
}

/*html {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.overlay{
  background: rgba(205,92,92,0.32);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: -99;
}

h1, h2, h3, h2>span {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: normal;
  color: #ddd;
  margin: 0;
}

a {
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

h1 {
  font-size: 240px;
}

h1 > span {
  font-size: 100px;
  margin: 0px;
}

h2 {
  font-size: 73px;
  margin-bottom: 50px;
  margin-top: -20px;
}

h2 > span {
  font-size: 100px;
  font-weight: bold;
}

h3 {
  font-family: 'Arizonia', Helvetica, cursive;
  font-size: 160px;
  margin-top: -30px;
  margin-bottom: -15px;
}

#sm {
  background: rgba(0,0,0, 0.3);

  width: 640px; height: 350px;
  margin: 40px auto 20px;
  padding: 20px;
  border-radius: 15px;

  color: #fff;
  outline: none;
}

#sm, .lever button {box-shadow: 0 3px 9px rgba(0,0,0,.25)}

.group, .reel, .lever {
  display: inline-block;
}

.group, .lever {
  background: rgba(252,234,187, 0.1);
}

.group {
  border-radius: 10px;
  padding: 20px 0 20px 20px;
}

  .reel {
    background: rgba(0,0,0, 0.5);
    text-align:center;
    float: left;
    padding:0 10px;
    width: 80px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0,0,0,.3) inset, 0 0px 1px rgba(0,0,0,.2) inset;
    font-size: 1.5em;
  }
    .reel div {
      position: relative;
      top: -48px;
    }
    .reel p {
      font-weight: bold;
      height: 60px;
      margin-top: 10px;
    }
    .reel p:nth-child(1) {color:#98856F}
    .reel p:nth-child(2) {color:#475960}
    .reel p:nth-child(3) {color:#516F5C}
    .reel p:nth-child(4) {color:#98856F}
    .reel p:nth-child(5) {color:#475960}
    .reel p:nth-child(6) {color:#516F5C}

a {
  color: #94A2F1;
  margin-top: 15px;
  text-align: center;
  display: block;
  text-decoration:none;
}

a:hover {
  color:#f00
}

#guy-name {
 width: 130px;
}

#guy-task {
  width: 400px;
}

.container {
  margin: auto;
}